
@font-face {
    font-family: seoul;
    font-style: normal;
    font-weight: normal;
    src: url("./fontOriginal.ttf") format("truetype");
  }
  
  @font-face {
    font-family: seoul;
    font-style: normal;
    font-weight: bold;
    src: url("./fontBold.ttf") format("truetype");
  }