.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: white; */
    /* box-shadow: 0 0 3px #000; */
    z-index: 100;
}
.header_wrapper{
    display: flex;
    align-items: center; /*세로축 정렬*/
    justify-content: space-between; /*가로축 정렬*/
    height: 60px;
    padding: 0 0.1em;
}
.header_start{
    height: 50px;
    line-height: 40px;
}
.header_home{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}
.header_title{
    font-size: 1.2rem;
    margin-left: 1px;
}
.header_center{
    width: 50%;
}
.header_form{
    display: flex;
    max-width: 100%;
}
.header-button{
    width: 25%;
    height: 40px;
    padding: 0 6px;
    border: none;
    background-color: transparent;
}
.header_end{
    display: flex;
    margin-right: 10px;
}
.header_end_button{
    height: 40px;
    padding: 0 10px;
    border: none;
    background-color: transparent;
}
@media screen and (max-width:800px){
    .header_title{
        display: none;
    }
}
@media screen and (max-width:400px){
    .header_end_button{
        display: none;
    }
}